/* MediaQuery 481 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------------- HEADER   ----------------------- */
.dropdown {
   display: flex;
   flex-direction: column;
    margin-left: 75%;
    margin-top: 10px;
    position: absolute;
    
}
.dropdown-menu{
    background-color: #6c757d;
}
.dropdown-item{
    color: #fff;
}
/* ---------------------------------- SECTION 1 -------------------------------------*/
 .title-page {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.img-title-page{
    width: 100%;
    height: 1000px;
}

h1{
    color:#7489f8;
    font-size: 52px;
    font-family: "Risque", serif;
    text-transform: uppercase;
}
.title-page-info {
    color: #fff;
    width: 70%;
    position: absolute;
    margin-top: 640px;
    text-align: center;
    font-size: 17px;
}

/*--------------------------------------- SECTION 2 ------------------------------------- */
.img-data{
    width: 100%;
    
}
.title-section-two {
    font-family: 'train one', sans-serif;
    position: absolute;
    margin-top: -700px;
    margin-left: 170px;
    font-size: 64px;
    text-transform: uppercase;
}

.container-grid-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -600px;
    gap: 10px;
    margin-left: 100px;
    width: max-content;
    

    
}

.data-section-two{
    background-color: rgba(142,175,215,0.5);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
    }

    .data-number{
        color: #fff;
        background-color: rgba(142,175,215,0.5);
        border-radius: 99%;
        width: 60px;
        text-align: center;
        padding-top: 15px;
        border: 2px solid #7489f8;
    }

   

    /*--------------------------------------- SECTION 3 ------------------------------------- */
    .img-section-galery{
        width: 100%;
        margin-top: 270px;
        position: relative;
        height: 850px;
    }

    .title-section-galery{
        color:#fff;
        margin-top: -800px;
        position: absolute;
        margin-left: 120px;
        font-family: 'armata', sans-serif;
        font-size: 35px;
        
    }

    .carrer-list-section-galery {
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
                
        row-gap: 10px;
        position: absolute;
        margin-top: -700px;
        padding: 20px;
        }
    .data-carrer {
        display: flex;
        flex-direction: column;
        width: 350px;
        text-align: max-content;
        background-color:rgba(150,137,131,0.4);
       /* background-color: rgba(142,175,215,0.5);*/
        height: 70px;
        
    }



.btn-section-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 35px;
    margin-top: 20px;
}
.btn-galery  {
    cursor: pointer;
    background-color: #7489f8;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
} 
 .carrusel{
    grid-column: span 2;
    width: 100%;
    height: 690px;
} 

.gb{
    visibility: hidden;
}

.history-carrer {
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

}

.d-block{    
    margin-left: 25%;
}  

.zumaran {
    margin-top: -700px;
}
.btn-zumaran{
    margin-top: -1400px;
}

.za{
    visibility: hidden;
}

.zumaran-arocena{
    margin-top: -680px;
}